<div class="form-box-reactive">
  <form>
    <h2>Form Reactive</h2>
    <div class="div-form">
      <div class="div-control">
        
        <input type="text" placeholder="nombre" class="input-key" />
      </div>

      <div class="div-control">
        <input type="number" placeholder="precio" class="input-key" />
      </div>

      <div class="div-control">
        <input type="text" placeholder="url img" class="input-key" />
      </div>

      <div class="div-control div-control-checkbox">
        <label for="isOnSale" class="isOnSale">En venta</label>
        <input type="checkbox" id="isOnSale" class="checkboxIsOnSale"/>
      </div>

      <div class="div-control">
        <button type="submit">Crear</button>
      </div>
    </div>
  </form>
</div>
